---
layout: default
---


<article class="post">
    <h2>{{ page.title }}</h2>

    <div class="entry">
        {% if page.toc %}
        <header id="toc">
            <h3>目录</h3>
            {{ content | toc_only }}
        </header>
        {% endif %}
        <article>
            {{ content | inject_anchors }}
        </article>

    </div>
    {% if site.related_posts.size >= 1 %}
    <div class="post-related">
        <h3>相关文章</h3>
        <ul>
            {% for related_post in site.related_posts limit: 5 %}
            <li><a href="{{ related_post.url }}">{{ related_post.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <div class="post-meta">
        <div class="breadcrumbs">

            <ol id="post-breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a itemprop="item" href="/">
                        <span itemprop="name">Fangs.work</span>
                    </a> ›
                    <meta itemprop="position" content="1" />
                </li>
                {% for category in page.categories %}
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a itemprop="item" href="/blog/{{category}}/">
                        <span itemprop="name">{{category}}</span>
                    </a> ›
                    <meta itemprop="position" content="{{ forloop.index | plus:1 }}" />
                </li>
                {% endfor %}
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a itemprop="item" href="{{page.url}}" disabled>
                        <span itemprop="name">{{page.title}}</span>
                    </a>
                    <meta itemprop="position" content="{{ page.categories | size | plus:2 }}" />
                </li>
            </ol>

        </div>
        <div class="tags">
            {% for tag in page.tags %}
            <a href="{{ tag | tag_url }}">{{ tag }}</a>
            {% endfor %}
        </div>

        <span class="copyright">
            &copy; Fang Jiaan | 按照 <a href="https://creativecommons.org/licenses/by-nc-nd/3.0/cn/">CC BY-NC-ND 3.0 CN</a> 协议进行许可
        </span>
        |
        <span class="date">
            创建于 {{ page.date | date: "%Y-%m-%d %H:%M"}}
        </span>
    </div>

    {% include disqus.html %}
</article>
