---
layout: default
---
<div class="page tag-archive">
    <h1>
        标签归档:   {{ page.tag }}
    </h1>
    <div>
        {% if page.posts %}
        {% for post in page.posts %}
        <article class="post">
            <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
            <div class="entry">
                {{ post.excerpt }}
            </div>
            <a href="{{ site.baseurl }}{{ post.url }}" class="read-more"><i class="fa fa-book"></i> 阅读全文</a>
        </article>
        {% endfor %}
        {% else %}
        <p>该标签下没有相关文章</p>
        {% endif %}
    </div>
</div>
